<!doctype html>
<html>
  <head>
    <title>Example Page</title>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>
    <h1>Example Ordered List: Songs (<%= @songs.length %>)</h1>

    <ul>
      <% @songs.each do |song| %>
        <%= erb :song, locals: { song: song } %>
      <% end %>
    </ul>
  </body>
</html>
